* {
    margin: 0;
}


.box2{
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/a/a6/Latin_letter_A.svg/640px-Latin_letter_A.svg.png);
}

.box4{
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/a/a6/Latin_letter_A.svg/640px-Latin_letter_A.svg.png);
}

